

.header {
  height:120px;
  width:1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-color: grey;
  border-style: solid;
}

.contents {
  height: 100px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content:center;
  padding-inline: 50px;
}

.header_contents {
  display:flex;
  height:20px;
  width:550px;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  font-size: 20;
}

.header_box {
  display:flex;
  height:100px;
  width:1300px;
}

.banner {
  height: 700px;
  width: 1300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  border-color: grey;
  border-style: solid;
}

.get_directions {
  background-color: rgb(126, 126, 126);
  color: black;
  border-width: .3mm;
  border-color: black;
  height: 60px;
  width: 165px;
  border-radius: 4px;
  border-style:solid;
  font-weight: normal;
  font-size: 18;
  cursor: pointer;
  transition: background-color .15s
    border-color .15s
      color 15s;
}

.get_directions:hover {
  background-color: rgb(61, 146, 69);
  border-color: rgb(61, 146, 69);
  color: white;
}

.get_directions:active {
  opacity:0.8;
}

.banner_contents {
  display: flex;
  height: 600px;
  width: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  font-size: 66;
}

.our_story {
  height: 600px;
  width: 1300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  border-color: grey;
  border-style: solid;
  align-items:center;
  }

.ourstory_contents {
  font-size: 28;
  display: flex;
  height: 400px;
  width: 700px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content:center;
}

.ourstory_text {
  display:flex;
  font-size:20;
}

.story_text {
  display:flex;
  height:200px;
  width:500px;
}

.reasons {
  border-color:grey;
  border-style:solid;
  height:270px;
  width:1300px;
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  flex-wrap:wrap;
  font-size:24;
}

.beans {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.pour {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.enjoy {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.quote {
  display:flex;
  height:600px;
  width:1300px;
  background-color: grey;
}

.quote_contents {
  display: flex;
  font-size: 30;
  height: 600px;
  width: 600px;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.quote_picture {
  display:flex;
  height:600px;
  width:780px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.quote_quote {
  display:flex;
}